*.pyc
*.so
*.pth
*.ply
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*client*
dataset
dataset_local
test
*egg-info*
*.png
*.zip
*.jpg
outputs/tandt/
datasets/
reference_methods/
outputs/
output_consistency/
log/
/home/jiahao/GS-IR/reference_methods/Scaffold-GS/outputs/
/home/jiahao/GS-IR/datasets
/home/jiahao/GS-IR/reference_methods
